/* defaults css styles are here */
.center {
    margin:0px auto;
}
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.bttn a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
.bttn a:hover {
    background-color: transparent !important;
}
.u-hr {
    width: 100%;
    color: #37D5AC;
    height:2px;
    background-color: #37D5AC;
   
}
.t-center {
    text-align: center;
    
}
input[type="button"]:focus  {
    border: none !important;
    
}
input[type="text"]:focus {
  -webkit-box-shadow: none !important;
          box-shadow:none !important;