/* -------header ------*/



/* -------------Home page stylesheet ------------ */
#banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #37D5AC;
}
@media screen and (max-width:420px) {
    #jumbotron {
        font-size: 30px !important;
    }
    .bttns {
        margin: 30px auto !important;
    }
    .bttn {
        padding: 4px 8px;
        margin: 0px auto;
        
    }
}
.city {
    height: 40px;
    line-height: 40px;
    min-width: 160px;
    align-content: center;
    background: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.city div {
    float: left;
    font-size: 12px;
    color: #7a7a7a;
    background: transperent;
    border: none !important;
    box-shadow: none !important;
    padding-left: 5px;
    padding-right: 5px;
    
}
.icon-location-marker {
    font-size: 20px;
}
.cityname input {
    border: none !important;
    box-shadow: none !important;
    background: none;
}



.bttns {
    margin:30px auto 50px;
    -webkit-padding-start: 0px;
    align-adjustment: center;
}
.bttns li {
    float: left;
    margin-bottom: 15px;
    width: 155px;
    
}

.bttn {
    background: #202020;
    color: #fff;
    padding: 7px 12px;
    border-radius: 5px;
    margin: 0px 10px;
    cursor:default;
    box-shadow: 0px 2px 5px #202020;
}
.bttn:hover {
    background: #249377;
}
/*input[type="text"]:hover,
input[type="text"]:focus,
.bttn:focus,
.bttn:active{
    border: none;
    border-color: transparent;
}*/
@media screen and (max-width: 480px) {
  .bttn {
    margin:none !important;
  }
}
.bttns a:hover {
    background: #37D5AC;
}
.bttns a:focus {
    background: #37D5AC;
}

.heading {
    
}

.sub-heading {
    
}
.discription {
    
}
#section1 {
    background:#f8f8f8;
    
}
.center {
    margin: 0px auto !important;
    
}
#l-menu div {
    float: left;
}
.item {
    opacity: .5;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 200px;
    cursor: default;
    
}
.item:hover {
    opacity: 3;
}
.item:focus {
    opacity: 3;
}
.item i {
    font-size: 50px;
    text-align: center;
}
.item h6 {
    font-weight: 400;
}

#marq {
    background: #f8f8f8;
    padding-top: 20px;
    padding-bottom:20px;
    z-index: 2;
}

.light {
    color: #eaeaea;
}

.outerbox {
    padding: 20px;
}
.innerbox {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px 30px;
    
}

.customer {
    margin: 0px auto;
    opacity: .7;
}
.customer:hover {
    opacity: 7;
}
.c-img {
    width: 100%;
    padding:20px auto;
    height: auto;
    align-self: center;
    
    
}
.c-img img {
    border: 3px solid #37D5AC;
    width: 115px;
    height: 115px;
    border-radius: 115px;
    
        
}
.c-name {
   margin-bottom:30px;
}
.c-reveiw {
    
}

#section4 {
    background: #f8f8f8;
}
.quality {
    align-content: center;
    cursor: default;
    
}

.quality i {
    font-size: 60px;
    color: #37D5AC;
    width: 100%;
    padding-bottom: 20px;
}
.quality i:hover {
    color: #15c497;
    font-size: 85px;
    padding: 5px;
}
.quality h4 {
    font-weight: 800;
    padding-bottom: 30px;
}
.quality i, .quality h4, .quality p {
    margin: 0px auto;
    text-align: center;
}


.app-img {
    padding: 20px;
    width: 100%;
    height: auto;
}

.app-disc {
    padding:20px;
    
}
.app-disc p{
    font-size: 15px;
}


.send {
    margin-top: 30px;
    
}

.send p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.typeno {
    padding: 7px 15px;
    border: 1px solid #DDD;
    font-size: 15px;
    width: auto;
    margin-right: 5px;
}
.typeno div {
    float: left;
}
.typeno input {
    border: none;
    border-color: transparent;
    
    
}
.typeno input:focus {
    border:none !important;
}
.send-link {
    right: 0;
    border-radius: none;
}

.send button {
    width: auto;
    height: auto;
    background: #37D5AC;
    right: 0;
    left: auto;
    float:right;
    border: none;
    padding: 7px 15px;
}

.send div {
    float: left;
}
.app {
    width: 140px;
    height: 35px;
    margin:0px 10px 10px;
}
.app:hover {
    box-shadow: 0px 3px 5px #e1e1e1;
}

#section6 {
    background: #f8f8f8;
}

.be-part {
    background:#f8f8f8;
    margin: 0px auto;
    width: 100%;
    padding:40px 10px;
    height: auto;
    line-height: 30px;
    
}

.be-part div {
    float: left
}

/* ---------     services page ------------ */


.s-box {
    border: 0px solid #f8f8f8;
    border-radius: 5px;
    padding:0px;
    box-shadow: 1px 3px 7px #cdcdcd;
}
.s-box img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
}
.s-box h4 {
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-weight: 200;
}
.s-box .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 200px;
      opacity: 1;
      transition: .3s ease;
      
      z-index: 5;
      visibility: hidden;
      padding: 20px;
      margin: 20px;
}

.open-text:hover  .text {
    visibility: visible;
}

input.text {
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 0;
  height: 200px;
  width:100%;
  left: 50%;
    background-color: rgba(0, 0, 0, .6);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    margin-left: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.book {
    margin:20px auto 50px;
    background: #37D5AC;
    padding: 7px 12px;
    width: 100px;
    left: 50%-50px;
    bottom: 0;
    top: 0;
    
}





















