.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

a.active {
  color: blue;
}

.selectedTab {
  border-bottom: 2px solid red;
  border-radius: 0px;
  font-weight: bold;
}

th {
  font-weight: bold;
}


#viewOrderDetailsModal .modal-dialog {
  width: 600px;
  margin: 120px auto;
}