<section id="about" style="background: #f9f9f9;">
    <div class="container" style=" padding-top:30px; padding-bottom:30px;">
        <div class="row">
            <div class="row row-centered">
                <div class="col-md-4 col-centered">
                    <div>
                        <h3>About us</h3>
                    </div>
                    <hr class="u-hr">
                    <h3>What we do</h3>
                </div>
            </div>

            <div class="row row-centered">
                <div class="col-md-8 col-xs-11 col-centered">
                    <div class="simple-marg">
                        HandyServices is Ahmedabad based maintenance and repair service provider that offer services to All small to big homes on annual contracts as well as individual work.
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <iframe class="slideanim" width="100%" style="border: none" height="335px" src="https://www.youtube.com/embed/r1NkEGNYx_o" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="outerbox">
                    <div class="innerbox">
                        <div class="quality">
                            <i class="fa fa-plus "></i>
                            <h4>Emergency Services</h4>
                            <p class="t-center">Carpenter, Plumber, Electrician within 30 minutes.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="outerbox">
                    <div class="innerbox">
                        <div class="quality">
                            <i class="fa fa-heart "></i>
                            <h4>Quality work Guaranteed</h4>
                            <p class="t-center">Our work comes with 15 days free service warranty.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="outerbox">
                    <div class="innerbox">
                        <div class="quality">
                            <i class="fa fa-clock-o"></i>
                            <h4>24X7 and 365 days</h4>
                            <p class="t-center">We are open always including sunday and public holiday.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="outerbox">
                    <div class="innerbox">
                        <div class="quality">
                            <i class="fa fa-certificate "></i>
                            <h4>Highly Trained Technicians</h4>
                            <p class="t-center">Our Technicians have minimum 3 year experience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="outerbox">
                    <div class="innerbox">
                        <div class="quality">
                            <i class="fa fa-handshake-o"></i>
                            <h4>Trust</h4>
                            <p class="t-center">Serving since December 2014, served 15000+ Clients.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="outerbox">
                    <div class="innerbox">
                        <div class="quality center">
                            <i class="fa fa-inr"></i>
                            <h4>Economical Prices</h4>
                            <p class="t-center">Completly price with superier quality of work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>