<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  <head>
  <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Handyservices.in - </title>
    <meta charset="UTF-8">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="Home : Handyservices.in">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="handyservices.in">
    <!-- Responsive meta tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="IE=Edge">
    <meta name="robots" content="index, follow">
    <!-- Description and keywords for search engines-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="msapplication-TileColor" content="#cdcec0">
    <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style type="text/css">/* The Modal (background) */
    .fade.in {
    opacity: 1;
}

</style>
    
      
    <!-- font link here, change to another google font if you wish!-->
      
    <!--<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
		    
	 <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    
      
      <!-------bootstrap -------->
       <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
	  
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.css" type="text/css">
	   <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" type="text/css">
	    <link rel="stylesheet" href="css/bootstrap-datetimepicker.css" type="text/css">
		 <link rel="stylesheet" href="css/sweetalert.css" type="text/css">

      
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	   
      <!---------- font awesome c------->
      
      <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css" type="text/css">
      <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      
      <!----- pixedon -------->
      <link rel="stylesheet" href="assets/PIXEDEN/pe-icon-7-stroke/css/pe-icon-7-stroke.css" type="text/css">
      <link rel="stylesheet" href="assets/PIXEDEN/pe-icon-7-stroke/css/helper.css" type="text/css">
      
      <!--------stylesheet ------------>
    
      <link rel="stylesheet" href="css/style.css" type="text/css">
      <!--<link rel="stylesheet" href="css/all.css" type="text/css">-->
      <link rel="stylesheet" href="css/default.css" type="text/css">
      
      
        <!-- begin favicon stuff-->
        <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap-datetimepicker.js"></script>
		<script src="js/bootstrap-datetimepicker.min.js"></script>
		
  </head>
  <body ng-app="book_service" ng-controller="book_controller">
   <div class="row">
<div class="col-md-8"><img src="handy1.png" class="logo_"></div><div class="col-md-4"><ul class="bttns" style="margin-top: 49px;">
                      
  <li class=""><a href="profile_view.html?id=58eba898261fd511009d81b6" target="_blank" style="
    color: #767676;;
">Profile Edit</a></li>
<li class="profile_views"><a href="Booking.html?id=58eba898261fd511009d81b6" target="_blank" data-toggle="modal" data-target="" style="
    color: #767676;;
">Booking</a>
                                
                                <ul class="bttns dropdown-menu dropdown-menu-default" style="
    display: none;
">
                                    <li>
                                        <a href="profile_view.html?id=58eba898261fd511009d81b6" target="_blank" >
                                            <i class="icon-user"></i> My Profile </a>
                                    </li>
                                    <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox
                                            <span class="badge badge-danger"> 3 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_todo_2.html">
                                            <i class="icon-rocket"></i> My Tasks
                                            <span class="badge badge-success"> 7 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_1.html">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                  </ul>  </div></div>
      <!--------- banner starts here ------>
    <section>
   
      <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"> <h2 id="table-head-options"><a class="anchorjs-link " href="#table-head-options" aria-label="Anchor link for: table head options" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Upcoming Order</h2>
       <table class="table">
  <thead class="order thead-inverse">
    <tr>
      <th>#</th>
      <th>OrderId</th>
      <th>ServiceName</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in bookings" id="{{x._id}}">
      <td>{{x._id}}</td>
       <td>{{x.servicename}}</td>
        <td>{{x.date}}</td>
         <td>{{x.status}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
 <div class="row">
 <div class="col-md-3"></div>
      <div class="col-md-6">
       <h2 id="table-head-options"><a class="anchorjs-link " href="#table-head-options" aria-label="Anchor link for: table head options" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Order History</h2>
      <table class="history table">
  <thead class="thead-inverse">
    <tr >
      <th>#</th>
      <th>OrderId</th>
      <th>ServiceName</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in bookings">
      <td>{{x._id}}</td>
       <td>{{x.servicename}}</td>
        <td>{{x.date}}</td>
         <td>{{x.status}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
    </section>
      <!-- banner ends here -->
      
      <!-- section1 starts here -->
    
      <!-- section1 ends here -->
      
      <!-- section2 starts here -->
     
      <!-- section2 ends here -->
      <hr class="light">
      

      <!-- section6 ends here -->
      
       
  
      
      

   
      <!-- section7 ends here -->
      

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/bootstrap-multiselect.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="js/sweetalert-dev.js"></script>
     
    
  </body>
  <script>



var app = angular.module("book_service", []);
app.controller("book_controller", function($scope,$http) {
   
var init = function () {
$http({
         method  : 'GET',
         url     : 'https://handy-service-server.herokuapp.com/bookings?user_id=58eba898261fd511009d81b6',
          //data    : {email:'pchemistry.35@gmail.com',password:'abcd'}, //forms user object
         //headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
        })
         .success(function(bookings) {
          console.log(bookings);
      $scope.bookings = bookings;
	   
         });




       };




       init();
});
  
  </script>
  
  
</html>