.profile-avatar {
  float: none;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border: 1px solid #ccc;
}
