.refer-flex-container {
  display: flex;
  justify-content: center;
}

.refer-flex-item {
  flex-wrap: nowrap;
  text-align: center;
  padding: 10px;
}

.refer-flex-item img {
  width: auto;
}

.share-btn-whatsapp {
  background: #1d9e11;
  padding: 0 10px 0 5px;
  width: auto;
  margin: 0 5px;
  height: 32px;
  color:#eee;
}

@media(max-width:768px) {
  .refer-flex-item img {
    width: 100%;
  }
}
