.margin-small {
    height: 8px;
    width: 100%;
}

.bs-outer {
    margin-top: 75px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-outer form {
    padding: 30px 20px 0px;
}

.bs-outer .icon-user {
    margin-top: -60px;
    z-index: 2;
    overflow: hidden;
}

.bs-outer .icon-user i {
    background-color: #fff;
    border-radius: 50%;
}

form {
    padding-bottom: 20px;
}

.form-group {
    margin-bottom: 8px;
}

.form-group .input-group .input-group-addon,
.form-group .input-group .form-control {
    padding: 12px auto;
}

.form-control {
    background: transparent;
}

.forgot {
    color: rgba(0, 0, 0, .45);
}

.forgot:hover {
    color: rgba(0, 0, 0, .65);
}

hr {
    border-top-color: transparent;
}

.hr1 {
    border-top-color: #ddd;
    margin-left: -1px;
    width: 100%;
}

