<div style="margin:0px;padding:0px;position: relative;top:0px">
    <div class="container1 animated">
        <div class="row">
            <div class="col-md-12">
                <div class="inner bannerH">
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>Handy Services</h2>
                            <div class="bot2"></div>
                            <div class="">
                                <a class="btn bttn1" routerLink="/booking/service-selection" routerLinkActive="active">Book Services</a>
                                <a class="btn bttn1" routerLink="/free-services" routerLinkActive="active">Free Services</a>
                                <a class="btn bttn1" routerLink="/request-callback" routerLinkActive="active">Request Callback</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>