<app-header></app-header>
<div class="row">
    <img src="../images/intro.jpg" style="width: 100%;height:273px;z-index: -999;background-color: gainsboro">
</div>
<div class="row">
    <div class="col-lg-8" style="border: 2px solid black;height: auto">
        <h1>For Partners</h1>
        <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100">
        <br>
        <p>
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        </p>
        <p>
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        </p>
        <br>
    </div>
    <div class="col-lg-4">

        <div class="row" style="border: 2px solid black;height: 530px;margin-top: -48%;z-index: 0;background-color: rgba(1,1,1,0.7);color: white;font-size: 20px;padding: 20px">
            <center>
                <h3> Contact Us </h3>
                <hr width="100%" style="color: red;background-color: red">
            </center>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1" >
                    <div class="form-group">
                        <center>
                            <div class="row" style="padding-right: 10px">
                                <div class="col-lg-6" style="padding: 10px;">
                                    <input type="text" style="width: 99%;margin-left:20px" ng-model="corporates.name" class="form-control" id="name" placeholder="Enter your Name" />
                                </div>
                                <div class="col-lg-6" style="padding: 10px;">
                                    <input type="tel" style="width: 99%;margin-left:20px" ng-model="corporates.number" class="form-control" id="number" placeholder="Enter your contact number" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 0px;padding-right: 10px">
                                <div style="padding: 10px;">
                                <input type="email" style="width: 99%;margin-left:20px" ng-model="corporates.email" class="form-control" id="email" placeholder="Enter your email" />
                                </div>
                            </div>
                            <div class="row" style="padding: 0px;padding-right: 10px">
                                <div class="col-lg-6" style="padding: 10px">
                                    <input type="text" style="width: 99%;margin-left:20px" ng-model="corporates.organization" class="form-control" id="org" placeholder="Name of your organization" />
                                </div>
                                <div class="col-lg-6" style="padding: 10px">

                                    <input type="text" style="width: 99%;margin-left:20px" ng-model="corporates.area" class="form-control" id="area" placeholder="Enter Area" />
                                </div>
                            </div>
                            <div class="row" style="padding: 10px">
                                <textarea ng-model="corporates.message" class="form-control" id="message" placeholder="Your Message" style="width: 95%;height: 50px"/>
                            </div>
                            <div class="row" style=";padding: 10px;margin-top: -20px">
                                <div style="padding: 10px;font-size: 8px">
                                By clicking submit, you confirm that you are interested in being connected with our service manager. You will recieved a call wihtin 24 hours to confirm the details.
                                </div>
                            </div>
                            <div class="row">
                                <input type="button" id="corporates" ng-click="createCorporate();" style="cursor: pointer;background-color: #1c2d3f" data-toggle="tab" value="For Partners">
                            </div>
                        </center>
                    </div>
                </div>
                <div class="tab-pane" id="resultTab">
                    <thank-you></thank-you>
                </div>
            </div>

        </div>


    </div>
</div>