<div id="footer" class="container-fluid" style="margin-left:-14px;margin-right:-14px;height: auto">
    <div class="row" style="margin-left:-14px;margin-right:-14px;">
        <div class="col-md-2" style="margin-left: 50px;margin-top: 0px">
            <ul style="text-decoration: none;line-height: 22px;">
                <li><h3>Handy Services</h3></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#/services">Services</a></li>
                <li><a href="#/maintenance">Maintenance Packages</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>

                <li><a href="#/partners"><input type="submit" class="btn" style="left:0px;top:10px;background-color: #10528F" value="Become Partner"/></a></li>
                <li>
                <div class="socials" >
            		<ul style="text-decoration: none;">
                    <h4 style="margin-left:0px;margin-top: 30px">Follow Us On: </h4>
            		<li><a href="#" class="fa fa-twitter"><span class="label"></span></a></li>
               	 	<li><a href="#" class="fa fa-facebook"><span class="label"></span></a></li>
                	<li><a href="#" class="fa fa-instagram"><span class="label"></span></a></li>
                	<li><a href="#" class="fa fa-youtube"><span class="label"></span></a></li>
                    </ul>
            	</div>
                </li>
              </ul>

        </div>
        
        <div class="col-md-2">
            <ul style="text-decoration: none;line-height:22px;">
                <li><h3>Areas Available</h3></li>
                <div ng-repeat="area in areasAvailable">
                    <li><a style="cursor: pointer" ng-click="goToServicesPage(area);">{{area.city_name}}</a></li>
                </div>
            </ul>
        </div>
        <div class="col-md-3 col-md-offset-1" style="margin-top:0px">
            <h3>Contact Us</h3>
            <div class="address">
                <i class="glyphicon glyphicon-home pull-left" style=" font-size: 15px;margin-right:6px"></i>
                <p> Sundar Nagar, 290/1,<br /> Netaji Marg, Navrangpura,<br /> Ahmedabad-380015</p>
                
            </div>
            <div class="address">
                <i class="glyphicon glyphicon-envelope pull-left" style="font-size: 15px;margin-right:6px"></i>
                <p><a href="mailto:services@handyservices.in">services@handyservices.in</a></p>
                
            </div>
            <div class="address">
                <i class="glyphicon glyphicon-phone pull-left" style="font-size: 15px; margin-right:6px"></i>
                <p>7878000666</p>
                
            </div>
        </div>
        <div class="col-md-3">
            <form class="footer-form" style="margin-top: 20px;padding: 10px">
                <div style="margin-top: -25px;margin-bottom: 0px">
                    <h3> Drop Us a Message</h3></div>
                <div class="row">

                    <div class="col-md-12" style="margin-top: 8px">
                        <input type="text" ng-model="contact.name" class="form-control" id="name" placeholder="Name" required/>
                    </div>
                    <div class="col-md-12" style="margin-top: 8px">
                        <input type="email" ng-model="contact.email" class="form-control" id="email" placeholder="Email Address" required />
                    </div>
                    <div class="col-md-12" style="margin-top: 8px">
                        <input type="tel" ng-model="contact.number" class="form-control" id="number" placeholder="Phone" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 8px">
                    <textarea class="form-control customTextarea" id="message" ng-model="contact.message" placeholder="Message" required></textarea>

                        <!-- <input type="text" ></input> -->
                    </div>
                    <div class="col-md-12" style="margin-top: 8px">
                        <center>
                            <center><span id="contact-error" style="display:none;color: red;font-size: 10px"> Please Fill All Details </span></center>
                            <img src="../images/gears.svg" id="msg-loading" style="display:none;width: 30px;height: 30px;">
                            <button type="submit" class="btn" style="background-color:#10528F" ng-click="sendMessage();">Submit Message</button>
                        </center>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.socials ul li {
	float:left;
	position:relative;
	margin-right:10px;
}
	
	.address p {
		line-height:22px !important;
	}
.footer-form> input, .footer-form> textarea, .footer-form> button {
	color:#fff !important;
}
</style>