<div id="footer" class="container-fluid" style="margin-left:-14px;margin-right:-14px;height: auto">
    <div class="row" style="margin-left:-14px;margin-right:-14px;">
        <div class="col-lg-2" style="margin-left: 50px;margin-top: 0px">
            <ul style="text-decoration: none;line-height: 18px;">
                <li><h3>Handy Services</h3></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#/services">Services</a></li>
                <li><a href="#/maintenance">Maintenance Packages</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <ul class="actions" style="display: inline">
                    <li><a href="#/partners"><input type="submit" class="btn" style="left:-10px;top:150px;background-color: #10528F" value="Become Partner"/></a></li>
                </ul>
            </ul>
            <h4 style="margin-left: 20px;margin-top: 80px">Follow Us On: </h4>
            <ul class="actions" style="top: 230px">
                <li><a href="#" class="fa fa-twitter"><span class="label"></span></a></li>
                <li><a href="#" class="fa fa-facebook"><span class="label"></span></a></li>
                <li><a href="#" class="fa fa-instagram"><span class="label"></span></a></li>
                <li><a href="#" class="fa fa-youtube"><span class="label"></span></a></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul style="text-decoration: none;line-height: 18px;">
                <li><h3>Areas Available</h3></li>
                <div ng-repeat="area in areasAvailable">
                    <li><a style="cursor: pointer" ng-click="goToServicesPage(area);">{{area.city_name}}</a></li>
                </div>
            </ul>
        </div>
        <div class="col-lg-offset-2 col-lg-2" style="margin-top: 0px">
            <h3>Contact Us</h3>
            <div style="display: flex;flex: 1;">
                <i class="glyphicon glyphicon-home" style=" font-size: 15px;margin-top: 20px"></i>
                <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 20px">
                    <p>Sundar Nagar, 290/1</p>
                    <p>Netaji Marg,</p>
                    <p>Navangpura, Ahmedabad-380015</p>
                </div>
            </div>
            <div style="display: flex;flex: 1;">
                <i class="glyphicon glyphicon-envelope" style="font-size: 15px;margin-top: 20px"></i>
                <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 10px">
                    <h6>services@handyservices.in</h6>
                </div>
            </div>
            <div style="display: flex;flex: 1;">
                <i class="glyphicon glyphicon-phone" style="font-size: 15px;margin-top: 20px"></i>
                <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 10px">
                    <h6>7878000666</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <form class="footer-form" style="margin-top: 20px;border: 2px solid white;padding: 10px">
                <center style="font-size: 15px;margin-top: -25px;margin-bottom: -25px">
                    <p><i class="fa fa-envelope" style="padding-right: 20px;" />Drop Us a Message</p></center>
                <div class="row">
                    <div class="col-lg-6" style="margin-top: 8px">
                        <input type="text" ng-model="contact.name" class="form-control" id="name" placeholder="Name" required/>
                    </div>
                    <div class="col-lg-6" style="margin-top: 8px">
                        <input type="email" ng-model="contact.email" class="form-control" id="email" placeholder="Email Address" required />
                    </div>
                    <div class="col-lg-12" style="margin-top: 8px">
                        <input type="tel" ng-model="contact.number" class="form-control" id="number" placeholder="Phone" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 8px">
                    <textarea class="form-control customTextarea" id="message" ng-model="contact.message" class="form-control" placeholder="Message" required></textarea>
                        <!-- <input type="text" ></input> -->
                    </div>
                    <div class="col-lg-12" style="margin-top: 8px">
                        <center>
                            <center><span id="contact-error" style="display:none;color: red;font-size: 10px"> Please Fill All Details </span></center>
                            <img src="../images/gears.svg" id="msg-loading" style="display:none;width: 30px;height: 30px;">
                            <button type="submit" class="btn" style="margin:10px;height:40px;/*padding: 0px 20px 20px*/;font-size: 14px;background-color: #1b6d85" ng-click="sendMessage();">Submit Message</button>
                        </center>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

