<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  <head>
    
    <title>Handyservices.in - </title>
    <meta charset="UTF-8">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="Home : Handyservices.in">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="handyservices.in">
    <!-- Responsive meta tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="IE=Edge">
    <meta name="robots" content="index, follow">
    <!-- Description and keywords for search engines-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="msapplication-TileColor" content="#cdcec0">
    <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    
      
    <!-- font link here, change to another google font if you wish!-->
      
    <!--<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    
      
      <!-------bootstrap -------->
      
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.css" type="text/css">
      
      
      <!---------- font awesome c------->
      
      <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css" type="text/css">
      <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      
      <!----- pixedon -------->
      <link rel="stylesheet" href="assets/PIXEDEN/pe-icon-7-stroke/css/pe-icon-7-stroke.css" type="text/css">
      <link rel="stylesheet" href="assets/PIXEDEN/pe-icon-7-stroke/css/helper.css" type="text/css">
      
      <!--------stylesheet ------------>
      <link rel="stylesheet" href="css/all.css">
      <link rel="stylesheet" href="css/style.css" type="text/css">
      <link rel="stylesheet" href="css/all.css" type="text/css">
      <link rel="stylesheet" href="css/default.css" type="text/css">
      
      
        <!-- begin favicon stuff-->
        <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <script src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
      <!--------- banner starts here ------>
    <section>
        <div id="banner">
         <div class="container">
              <center>
                <h1 id="jumbotron">Handyservices</h1>
                <h2 id="supporting-header"></h2>
                <div class="row">
                  <div class="city" style="margin:0 auto;">
                     
                     <div class="cityname" ><span class="fa fa-map-marker "></span><input type="button" value="Ahmedabad, Gujrat"> <span class="fa fa-caret-down push-0"></span></div>
                     
                  </div>
                  
                </div>
                <div class="row">
                  <ul class="bttns .align-self-xs-center">
                      <li class="bttn "><a href="#">Book Services</a></li>
                      <li class="bttn "><a href="#">Book Packages</a></li>
                      <li class="bttn" style="background:#37D5AC !important;"><a href="#">Request Callback</a></li>
                  </ul>
                </div>
              </center>
          </div>
        </div>
    </section>
      <!-- banner ends here -->
      
      <!-- section1 starts here -->
     <section id="section1">
        <div class="container">
            <div class="row">
            <div id="l-menu" class="center">
                <div class="item">
                    <i class="pe pe-7s-tools"></i>
                    <h6 class="name">Maintenance Packages</h6>
                </div>
                <div class="item">
                    <i class="pe pe-7s-home"></i>
                    <h6 class="name">Home MakeOver Package</h6>
                </div>
                <div class="item">
                    <i class="pe pe-7s-piggy"></i>
                    <h6 class="name">For Corporate</h6>
                </div>
            </div>
            </div>
         </div>
      </section>
      
      <!-- section1 ends here -->
      
      <!-- section2 starts here -->
      <section id="section2">
        <div class="container">
          <div class="row">
             <div class="center t-center">
                <div class="heading"><h3>Our Services</h3></div>
                 <hr class="u-hr">
                 <div class="sub-heading"><h3>What we Provide</h3></div>
                 
              </div>  
          </div>
            <div class="row">
                <div class="discription col-md-6 offset-md-3 t-center">
                    <p>Maintenance services include Drain Cleaning Services, RO Water Purification services, Electronic Servicing, carpentry services and many others.</p>
                </div>
            </div>
          <div class="row">
                <div class="container" id="marq">
                    <center  class="marquee t-center">Calculate your Maintenance Packages as per your requirement  <input class="bttn" type="button" style="background:#37D5AC;"value="Get Maintenance Package"></center>
                </div>
          </div>
          <div class="row container" >
            <div class="center" style="margin-top:20px;">
                <div class="bttn t-center"><a href="#">View more</a></div>
              </div>
          </div>
        </div>
      </section>
      <!-- section2 ends here -->
      <hr class="light">
      
      <!-- section3 starts here -->
      
      <section id="section3">
        <div class="container">
            <div class="row">
             <div class="center t-center">
                <div class="heading"><h3>Customer Reveiws</h3></div>
                 <hr class="u-hr">
                 <div class="sub-heading"><h3>What they said</h3></div>
                 <div class="discription"><p></p></div>
              </div>  
          </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 outerbox">
                    <div class="innerbox">
                        <div class="center">
                            <div class="customer">
                                <div class="c-img t-center"><img class="customer-img" src="img/android-chrome-144x144.png" alt="customer-img"></div>
                                <div class="c-name t-center"><h4>customername</h4></div>
                                <div class="c-reveiw t-center"><p >Customer reviews are a form of customer feedback on electronic commerce and online shopping sites.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6  outerbox">
                    <div class="innerbox">
                        <div class="center">
                            <div class="customer">
                                <div class="c-img t-center"><img class="customer-img" src="img/android-chrome-144x144.png" alt="customer-img"></div>
                                <div class="c-name t-center"><h4>customername</h4></div>
                                <div class="c-reveiw t-center"><p >Customer reviews are a form of customer feedback on electronic commerce and online shopping sites.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6  outerbox">
                    <div class="innerbox">
                        <div class="center">
                            <div class="customer">
                                <div class="c-img t-center"><img class="customer-img" src="img/android-chrome-144x144.png" alt="customer-img"></div>
                                <div class="c-name t-center"><h4>customername</h4></div>
                                <div class="c-reveiw t-center"><p >Customer reviews are a form of customer feedback on electronic commerce and online shopping sites.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      
      </section>
      
      <!-- section3 ends here -->
      
      
      
      <!-- section4 starts here -->
      <section id="section4">
        <div class="container">
            <div class="row">
                <div class="center t-center">
                <div class="heading"><h3>About Us</h3></div>
                 <hr class="u-hr">
                 <div class="sub-heading"><h3>What we Do</h3></div>
                 
              </div>
            </div>
            <div class="row">
                <div class="discription col-md-6 offset-md-3 t-center">
                    <p>HandyServices is Ahmedabad based maintenance and repair service provider that offer services to All small to big homes on annual contracts as well as individual work.</p>
                </div>
            </div>
            <div class="row container">
                <div class="col-md-6 offset-md-3 video">
                    <iframe class="slideanim" width="100%" style="border: none" height="335px" src="https://www.youtube.com/embed/r1NkEGNYx_o" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="outerbox">
                        <div class="innerbox "  style="background:#fff;">
                            <div class="quality center">
                                <i class="fa fa-plus "></i>
                                <h4>Emergency Services</h4>
                                <p class="t-center" >Carpenter, Plumber, Electrician within 30 minutes.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="outerbox">
                        <div class="innerbox "  style="background:#fff;">
                            <div class="quality center">
                                <i class="fa fa-heart "></i>
                                <h4>Quality work Guaranteed</h4>
                                <p class="t-center" >Our work comes with 15 days free service warranty.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="outerbox">
                        <div class="innerbox "  style="background:#fff;">
                            <div class="quality center">
                                <i class="fa fa-clock-o"></i>
                                <h4>24X7 and 365 days</h4>
                                <p class="t-center" >We are open always including sunday and public holiday.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="outerbox">
                        <div class="innerbox "  style="background:#fff;">
                            <div class="quality center">
                                <i class="fa fa-certificate "></i>
                                <h4>Highly Trained Technicians</h4>
                                <p class="t-center" >Our Technicians have minimum 3 year experience.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="outerbox">
                        <div class="innerbox "  style="background:#fff;">
                            <div class="quality center">
                                <i class="fa fa-handshake-o "></i>
                                <h4>Trust</h4>
                                <p class="t-center" >Serving since December 2014, served 15000+ Clients.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="outerbox">
                        <div class="innerbox "  style="background:#fff;">
                            <div class="quality center">
                                <i class="fa fa-inr "></i>
                                <h4>Economical Prices</h4>
                                <p class="t-center" >Completly price with superier quality of work.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </section>
      <!-- section4 ends here -->
      
      
      <!-- section5 starts here -->
      
      <section id="section5">
      
        <div class="container">
            <div class="row">
                <div class="center t-center">
                <div class="heading"><h3>Download Handy App</h3></div>
                 <hr class="u-hr">
              </div>
            </div> 
            <div class="row">
                <div class="sub-heading center"><h3>Handyservices is now more handy</h3></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-4 app-img">
                    <img src="img/handy.jpg" alt="handy app">
                </div>
                <div class="col-md-6 col-sm-8 app-disc">
                    <h3>Features</h3>
                    <h4>Virus free and secured</h4>
                    <h4>Fast Service</h4>
                    <p>Choose and Book from 100+ services and track them on the go with the Handyservices App.</p>
                    <div class="send">
                        <p>Send a link via SMS to install the app</p>
                        <div class="typeno">
                             <div ><span>+91 - </span></div>
                            <div><input type="text" maxlength="10" minlength="10" style="letter-spacing:2px;" ></div></div>
                            <div ><button type="submit">Text App Link</button></div>
                        
                    </div>
                    <br class="clear">
                    <div class="send">
                        <p>Also available on</p>
                        <a href=""><img  class="app" src="img/app-store-android-download.png"></a>
                        <a href=""><img class="app" src="img/download-in-app-store.png"></a>
                    </div>
                    
                </div>
            
            </div>
        </div>
      </section>
      <!-- section5 ends here -->
      
      
      <!-- section6 starts here -->
      <section id="section6">
        <div class="container">
            <div class="row">
                <div class="center t-center">
                <div class="heading"><h3>Media Coverage</h3></div>
                 <hr class="u-hr">
                 <div class="sub-heading"><h3></h3></div>
                 
              </div>
            </div>
            <div class="row">
                <figure id="one">
                    <figcaption id="img1" class="overlay">caption related to media coverage</figcaption><a href=""><img src="/img/photo-1.png" alt=""></a>
                </figure>
                <figure id="two">
                    <figcaption id="img2" class="overlay">caption related to media coverage</figcaption><a href=""><img src="/img/photo-2.png" alt=""></a>
                </figure>
                <figure id="three">
                    <figcaption id="img3" class="overlay">caption related to media coverage</figcaption><a href=""><img src="/img/photo-3.png" alt=""></a>
                </figure>
            </div>
          </div>      
      </section>
      
      <!-- section6 ends here -->
      
      
      <!-- section7 starts here -->
      <section id="section7">
        <div class="container">
            <div class="row">
                <div class="center t-center">
                <div class="heading"><h3>Our Clients</h3></div>
                 <hr class="u-hr">
                 <div class="sub-heading"><h3></h3></div>
                 
              </div>
            </div>
            <div class="row center">
                <div class="col-md-4"><img src="img/mstile-150x150.png"></div>
                <div class="col-md-4"><img src="img/mstile-150x150.png"></div>
                <div class="col-md-4"><img src="img/mstile-150x150.png"></div>
            </div>
            <div class="row">
                <div class="container" id="marq">
                    <center  class="marquee t-center">Now you can be partner with Handy!<input class="bttn" type="button" style="background:#37D5AC;"value="Become Partner"></center>
                </div>
                <!--<div class="container be-part">
                    <div><p class="t-center pull-center">Now you can be partner with Handy! </p></div>
                    <div  class="bttn t-center pull-right" style="width:140px;background:#37D5AC; right:0;"> Become Partner</div>
                </div> -->
            </div>
          </div>      
      </section>
      
      <!-- section7 ends here -->
      

      <script src="/js/main.js"></script>
      <script src="/assets/bootstrap/js/bootstrap.js"></script>
      <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>