<app-header></app-header>
<div class="row" style="margin-bottom:20px;">
    <img src="../images/intro.jpg" style="width: 100%;height:100px;z-index: -999;background-color: gainsboro">
    <div class="col-md-8 col-md-offset-2 mop" >
        <h1>MakeOver Packages</h1>
        <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100">
        <br>
        <p class="slideanim">Handyservices provide 1 stop solutions for all your home maintenance needs. You can choose from our pre-designed packages with an option of choosing services, scheduling the services as per your requirement.</p><br>
        <center>
        <h4><strong>JUST RELAX AND GET YOUR HOME MAINTAINED</strong></h4>
        </center>
        <br>
     <div class="row slideanim makeover-icons" style="text-align:center; margin-top: 10px">
    <div class="col-md-3 col-sm-6 ">
      <span class="fa fa-building logo-large" style="font-size: 50px; color:#cd2525"></span>
      <h4>Full house cleaning</h4>
      <p>Bathrooms, sofa-carpet vacuuming, glass cleaning, floor scrubbing and lot more.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <span class="fa fa-bug logo-large" style="font-size:50px; color:#cd2525"></span>
      <h4>Pest Control</h4>
      <p>Full pest control services, get your house free from cockroaches, lizards and other harmful insects.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <span class="fa fa-gavel logo-large" style="font-size: 50px; color:#cd2525"></span>
      <h4>Maintenance Report</h4>
      <p>Get your maintenance report of every services and get hassle-free checkups</p>
    </div>
         <div class="col-md-3 col-sm-6">
      <span class="fa fa-paint-brush logo-large" style="font-size: 50px; color:#cd2525"></span>
      <h4>Painting/Polishing</h4>
      <p>Get upto 25% OFF on interior or exterior painting services. Final quote upon inspection.</p>
    </div>
  </div>
 
        <style>
            .mop {
                margin-bottom:30px;
            }
            .makeover-icons div p {
                text-align: left;
            }
            .makeover-icons div {
                margin: 10px 0px;
                padding-left: 5px;
                padding-right: 5px;
                border: 0px solid black;
            }
        
        
        </style>
    </div>
   
    
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

        <div class="row contact" style="height: auto;margin-top:0;z-index: 0;background-color:#fff;color:#1e1e1e;font-size: 20px;">
            
            <div class="tab-content">
                <div class="tab-pane active" id="tab1" >
                    <div class="form-group">
                        <center>
                        <h3> <strong>Contact Us </strong></h3>
                        </center>
                
                        <center>
                        <fieldset >
                            <legend class="mandatory">All the fields are mandatory*</legend>
                            <div class="row contact-form" >
                                <div class="col-md-6">
                                    
                                    <input type="text"  ng-model="hmp.name" class="form-control" id="name" placeholder="Enter your Name" />
                                </div>
                                <div class="col-md-6" >
                                    
                                    <input type="tel"  ng-model="hmp.number" class="form-control" id="number" placeholder="Enter your contact number" />
                                </div>
                                <div class="col-md-6" >
                                    <input type="email"  ng-model="hmp.email" class="form-control" id="email" placeholder="Enter your email" />
                                </div>
                                <div class="col-md-6" >
                                    <input type="text" style="" ng-model="hmp.area" class="form-control" id="area" placeholder="Enter Area" />
                                </div>
                           
                                <div class="col-md-12">
                                   <textarea ng-model="hmp.message" class="form-control customTextarea" id="message" placeholder="Your Message" style="width: 90%;height: 50px padding-left:5%"/>
                                </div>
                            
                                
                            <div class="row" style="padding: 10px;margin-top: -15px">
                                <div style="padding: 10px;font-size: 10px">
                                By clicking submit, you confirm that you are interested in being connected with our service manager. You will recieved a call wihtin 24 hours to confirm the details.
                                </div>
                            </div>
                            <div class="row">
                                <center><span id="hmp-error" style="display:none;color: red; font-size:14px;"> Please Fill All Required Details </span></center>
                                    <img src="../images/gears.svg" id="hmp-loading" style="display:none;width: 30px;height: 30px;margin-top: 10px;margin-bottom: 10px">
                                <input type="button" id="hmp" ng-click="createHMP();" class="btn" style="cursor: pointer;" data-toggle="tab" value="Get Home Makeover Package">
                            </div>
                        </center>
                    </div>
                        </fieldset>
                            
                </div>
                <div class="tab-pane" id="resultTab">
                    <thank-you></thank-you>
                </div>
            </div>

        </div>
        <style>
            .contact {
                box-shadow: 0px 3px 5px #333;
                padding-top: 10px;
                padding:10px;
            }
            .contact  {
                padding-top: 20px;
                padding-bottom: 20px;
                
                }
           
            .contact-form  {
                
                
                
            }
            .contact-form div {
                padding: 10px 0px;
                margin-bottom: 20px;
                height: auto
            }
            .contact-form div input {
                width:90%;
                margin-left:10px;
                border-top: none !important;
                box-shadow: none;
            }
            
            .mandatory {
                color: red;
                margin-top:0;
                margin-bottom:10px;
                margin-left:0px;
                float: left;
                font-size: 12px;
                text-align: left;
            }
            
             #hmp {
                size:70%;
                margin-left: -10px;
                width: auto;
            }
                
            
        
        </style>


    </div>
</div>
<app-footer></app-footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>