<!-- Header -->
<app-header></app-header>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 440px;
        margin: auto;
    }
</style>
<div>
    <div class="container" style="z-index: -999;width: 100%;height: 50px;margin-bottom:25px; box-shadow: 0 0 15px rgba(0,0,0,.2);">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/img_chania.jpg" alt="Chania">
                </div>

                <div class="item">
                    <img src="images/img_chania2.jpg" alt="Chania">
                </div>

                <div class="item">
                    <img src="images/img_flower.jpg" alt="Flower">
                </div>

                <div class="item">
                    <img src="images/img_flower2.jpg" alt="Flower">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
               <!--  <span><<</span>
                <span class="sr-only">Previous</span> -->
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
               <!--  <span>>></span>
                <span class="sr-only">Next</span>
 -->            </a>
        </div>
    </div>
    <!-- Intro -->
    <section class="main style1 dark fullscreen" style="background-color: transparent" style="z-index: 0; box-shadow: 0 0 15px rgba(0,0,0,.2);">
        <div class="content">
            <div class="box" style="background-color: white;border-radius: 20px">
                <ul class="actions">
                    <li><a href="#/services"><input type="button" style="background-color: #10528F" value="Book Services" /></a></li>
                    <li><a href="#/maintenance"><input type="button" style="background-color: #10528F" value="Book Packages" /></a></li>
                    <li><input type="button" style="background-color: #CD2525" value="Request Callback" /></li>
                </ul>
                <form method="post" action="#">
                    <div class="field half first">
                        <input type="text" name="name" ng-model="rc.name" placeholder="Enter Your Name" />
                    </div>
                    <div class="field half">
                        <input type="text" name="mobileNumber" ng-model="rc.mobile" placeholder="Enter Your Mobile Number" />
                    </div>
                    <div class="field">
                        <input type="email" name="email" ng-model="rc.email" placeholder="Email" />
                    </div>
                    <span id="rc-error" style="display:none;color: red"> Please Fill All Required Details </span>
                    <ul class="actions">
                        <li><input type="button" style="background-color: #CD2525; " ng-click="processRequestCallback();" value="Submit" /></li>
                        <li><a href="https://play.google.com/store/apps/details?id=in.handyservices.handyservices" target="_blank"><input type="button" style="background-color: #10528F" value="Get App" /></a></li>
                    </ul>
                </form>
            </div>
        </div>
    </section>

    <!-- One -->
 <section id="one" class="main style2 dark fullscreen" style="width: 100%; box-shadow: 0 0 15px rgba(0,0,0,.2);/* margin-top: 15px; */margin-bottom: 15px;/* margin: 15px; */background-color: rgba(25, 27, 25, 0.42);">
        <div class="content style2">
            <center>
                <h5>Our Services</h5>
                <h2>What We Provide</h2>
                <hr style="width: 100%;color: red">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                </p>
                <span display="inline">Calculate Your Maintenance Packages as per your requirement</span>
                <ul class="actions" style="display: inline">
                    <li><a href="#/maintenance"><input type="submit" style="background-color: #CD2525" value="Get Maintenance Package" /></a></li>
                </ul>
            </center>
        </div>
    </section>

    <!-- Three -->
  <!--   <section id="work" class="main style2 primary" style="margin-top: -20px;background-color: whitesmoke">
        <div class="content fullscreen">
            <center>
                <span display="inline">Calculate Your Maintenance Packages as per your requirement</span>
                <ul class="actions" style="display: inline">
                    <li><a href="#/maintenance"><input type="submit" style="background-color: #CD2525" value="Get Maintenance Package" /></a></li>
                </ul>
            </center>
        </div>
    </section>
 -->
    <section id="work-1" class="content style3 primary left" style="margin: -20px 0; box-shadow: 0 0 15px rgba(0,0,0,.2);">
        <div class="content style2 fullscreen dark" style="background-color: #10528F;color: white;padding: 10px;overflow-y: scroll;height: 270px">
            <div id="twoa" class="content left" style="padding: 10px">
                <center>
                    <div style="display: inline-flex;flex: 1" ng-repeat="service in serviceList">
                        <div id="serv" style="cursor:pointer;margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
                            <div class="row" id="serv-content1">
                                <img ng-src="{{service.image}}" style="width: 80px;height:80px;background-color: palegoldenrod;margin-top: 20px;margin-left: 10px"/>
                                <h2>{{service.name}}</h2>
                            </div>
                            <div class="row" id="serv-content2" style="word-wrap: break-word;word-break: break-all;padding: 0px 10px 10px;">
                                <center>
                                <p style="padding: 10px;margin-top: 10px">
                                    # {{service.sublist}}
                                    description description
                                </p>
                                    <br>
                                <a style="padding: 10px;margin-bottom:10px;color: white" href="#/services"> Learn More </a>
                                    <br>
                                <input type="button" value="Book Now" ng-click="bookNow(service)" style="background-color:#CD2525;color: white">
                                <br>
                                </center>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
</div>
<div class="content ng-scope" style="
    background: #10528f;padding-bottom: 20px;">
        <center>
            <ul class="actions" style="display: inline">
                <li><a href="#/services"><input type="submit" value="+ View More" style="text-decoration: underline;background-color: #cd2525; box-shadow: 0 0 15px rgba(0,0,0,.2);"></a></li>
            </ul>
            <br>
        </center>
    </div>
</section>

<style>
    .img1Wrapper:hover .text1{
        visibility: visible;
    }
    #serv-content2 {
        display:none;
    }
    #serv:hover #serv-content2 {
        display:block;
    }
    #serv:hover #serv-content1 {
        display:none;
    }

</style>
<!-- 
<section id="work1" class="main style2 primary" style="margin-top: -20px;background-color: whitesmoke">
    <div class="content">
        <center>
            <ul class="actions" style="display: inline">
                <li><a href="#/services"><input type="submit" value="+ View More" style="text-decoration: underline;background-color: #10528F"/></a></li>
            </ul>
            <br>
        </center>
    </div>
</section>
 -->
<!-- Two -->
<section id="two1" class="main style2 dark fullscreen" style="background-color: #424547" box-shadow: 0 0 15px rgba(0,0,0,.2);>
    <div class="content style2">
        <center>
            <h4>About Us</h4>
            <h2>What We Do</h2>
            <hr style="width: 100%;color: red">
        </center>
    </div>
</section>
<div class="main style2 fullscreen dark" style="background-color: #424547; padding-left: 84px; box-shadow: 0 0 15px rgba(0,0,0,.2);">
    <div id="two2" class="content style2 left dark fullscreen" style="margin-left: 20px;display: inline">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        </p>
    </div>
    <div class="content style2 right dark fullscreen" style="margin-left:30px;display: inline">
        <iframe width="560" style="border: 2px solid white" height="315" src="https://www.youtube.com/embed/r1NkEGNYx_o" frameborder="0" allowfullscreen></iframe>
        <br><br><br><br>
        <ul class="actions" style="border-radius: 30px;width: 51%;border: 2px solid white;padding: 10px 10px 10px 30px;">
            Follow Us On: &nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
         
        </ul>
    </div>
</div>
<!--section 2-->

<section id="two3" class="main style2 dark fullscreen" style="background-color: #CD2525">
    <div class="content style2">
        <center>
            <h4>Download Handy</h4>
            <h2>Handy Services is now more Handy</h2>
            <hr style="width: 100%;color: red">
        </center>
    </div>
</section>
<div class="main style2 fullscreen dark" style="background-color: #CD2525;">
    <div id="two4" class="content style2 left dark fullscreen" style="margin-left: -20px;display: inline">
    <center>
        <img src="images/intro.jpg" style="width: 200px;height: 450px;border: 2px solid white">
        </center>
    </div>
    <div class="content style2 right dark fullscreen" style="margin-left:30px;display: inline">
        <h5>Features: </h5>
        <br>
        <h6>Virus Free And Secured</h6>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        <h6>Fast Service</h6>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        <br>
        <h6>DOWNLOAD APP NOW</h6>
        <form method="post" action="#">
            <div class="field half first" style="display: inline;color: black">
                <input type="text" name="name" placeholder="Enter Your Email/Mobile" />
            </div>
            <ul class="actions" style="display: inline">
                <li><a href="https://play.google.com/store/apps/details?id=in.handyservices.handyservices" target="_blank">
                    <input type="submit" value="Get App Link" /></a>
                </li>
            </ul>
        </form>
        <p style="margin-top: -10px">(It's Free. You will recieve download link via SMS)</p>
    </div>
</div>


<!--section 3-->

<section id="two5" class="main style2 dark fullscreen" style="background-color: #10528F">
    <div class="content style2">
        <center>
            <h4>Our Customers</h4>
            <h2>What We Provide</h2>
            <hr style="width: 100%;color: red">
         <p style="color: white;width: 60%;">
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </center>
    </div>
</section>
<div class="content style2 fullscreen dark" style="background-color: #10528F;">
    <div id="two6" class="content left">
        <center>
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
        </center>
    </div>
</div>
<!--section 4-->

<section id="two7" class="main style2 dark fullscreen" style="background-color: #CD2525;">
    <div class="content style2">
        <center>
            <h2>Testimonials</h2>
            <hr style="width: 100%;color: red">
        </center>
    </div>
</section>
<div class="content style2 fullscreen dark" style="background-color: #CD2525;">
    <div id="two8" class="content left">
        <center>
          <p style="color: white;width: 60%;">
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
        </center>
    </div>
</div>
<!--section 5-->

<section id="two9" class="main style2 dark fullscreen" style="background-color: #10528F;">
    <div class="content style2">
        <center>
            <h2>Our Clients</h2>
            <hr style="width: 100%;color: red">
        </center>
    </div>
</section>
<div class="content style2 fullscreen dark" style="background-color: #10528F;">
    <div id="two10" class="content left">
        <center>
          <p style="color: white;width: 60%;">
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
            <img src="images/intro.jpg" style="margin:10px;display:inline;width: 200px;height: 200px;border: 2px solid white">
        </center>
    </div>
</div>

</div>
