<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 20%">
            <div class="modal-body" style="background: #fff; border-radius: 10px;">
                <button type="button" class="close" style="margin-top: -46px;color: red;font-size: 44px;opacity: 10;
    text-shadow: 3px 1px 5px rgb(21, 20, 20);" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                
                <div class="row">
                <div class="col-md-4" style="padding-left: 30px;">
                    <img src="../images/handyman1.png" style="margin-top:20px;margin-left:-20px;width: 200px;height: 200px;">
                </div>

                    <div class="col-md-8" style="padding-left: 35px;">
                    <h4 class="modal-title" style="color: black; padding-bottom: 20px;"><b>Select your City</b></h4>
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="selectCity-nav">
                            <div class="form-group">
                                <label class="sr-only" for="selectCity">Select City</label>
                                <select class="form-control" style="background-color: rgba(7, 10, 12, 0.38);" id="selectCity"
                                        ng-options="city.city_name for city in cities track by city._id" ng-model="selectedCity" required>
                                </select>
                            </div>
                            <input type="button" ng-click="citySelected();" class="btn" data-dismiss="modal" value="Get Services" style="float: right;background-color: #1b6d85"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>