<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="336458288373-422f41kjqopb7gernjbgs9hiekgoeic8.apps.googleusercontent.com">
<div id="LoginModal" class="modal" style="background-color:rgba(0,0,0, .3)"data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog" style="margin-top: 10%; overflow:hidden;">
        <div class="modal-content">
            <div class="modal-body" style="background: #fff; border-radius: 10px;">
                 <button type="button" class="close" style="margin-top: -10px;font-size: 44px;opacity: 10; text-shadow:none; box-shadow:none;" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title tab">
                    <a class="tablinks" ng-click="openLogin();" style="cursor: pointer">
                        <h4 style="float:left; margin-left: 30px; margin-top:-25px !important;">
                            <i class="fa fa-user"></i> Login
                        </h4>
                    </a>
                    <a class="tablinks" ng-click="openRegister();" style="cursor: pointer">
                        <h4 style="float: right; margin-right: 30px; margin-top:-25px !important;">
                            <i class="fa fa-user-plus"></i> New User
                        </h4>
                    </a>
                    <div id="liner" style=""></div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <button id="customBtn" style="padding:2px;background-color: #d34836;color:white;width: 100%"
                                ng-click="processGoogleLogin();">
                                <i class="fa fa-google-plus" style="font-size: 15px"/> &nbsp; Sign In with Google
                            </button>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <button style="padding:2px;background-color:#3b5998;color:white;width: 100%" type="button" ng-click="fbLogin();" id="sign-in-twitter">
                                <i class="fa fa-facebook-square" style="font-size: 15px;"/>&nbsp; Sign In with Facebook
                            </button>
                        </center>
                    </div>
                </div>
                <br>
                <center>
                    <span style="font-size: 10px;" id="login-or"> OR </span>
                    <img src="../images/gears.svg" style="width: 40px;height: 40px;display: none;" id="login-loading"/>
                </center>
                <div id="Login">
                    <div class="row" style="padding: 30px">
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                <span style="color: red;margin-top:-5px;margin-right:-5px;float: left">*</span>
                                <input type="text" ng-model="loginUser.email" class="form-control loginInput" id="exampleInputEmail2" placeholder="Email Address" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                <span style="color: red;margin-top:-5px;margin-right:-5px;float: left">*</span>
                                <input type="password" ng-model="loginUser.password" class="form-control loginInput" id="exampleInputPassword2" placeholder="Password" ng-required="true">
                            </div>
                            <center><span id="login-error" style="display:none;color: red"> Please Fill All Required Details </span></center>
                            <div class="form-group">
                                <center>
                                <input ng-click="userLogin();" style="" type="button" id="sign-in" value="Login">
                                </center>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="SignUp" style="display: none">
                    <div class="row" style="padding: 30px">
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="register-nav">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Full Name</label>
                                    <span style="color: red;margin-top:-5px;margin-right:-5px;float: left">*</span>
                                    <input type="text" ng-model="user.name" class="form-control loginInput" id="exampleInputNameF1" placeholder="Full Name" ng-required="true">
                                </div>
                            </div>
                          
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                    <span style="color: red;margin-top:-5px;margin-right:-5px;float: left">*</span>
                                    <input type="email" ng-model="user.email"  class="form-control loginInput" id="exampleInputEmail1" placeholder="Email" ng-required="true">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Mobile Number</label>
                                    <span style="color: red;margin-top:-5px;margin-right:-5px;float: left">*</span>
                                    <input type="tel" ng-model="user.number"  class="form-control loginInput" id="exampleInputNumber1" placeholder="Mobile Number" ng-required="true">
                                </div>
                            </div>
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Password</label>
                                    <span style="color: red;margin-top:-5px;margin-right:-5px;float: left">*</span>
                                    <input type="password" ng-model="user.password" class="form-control loginInput" id="exampleInputNameL1" placeholder="Password" ng-required="true">
                                </div>
                            </div>
                            <center><span id="register-error" style="display:none;color: red"> Please Fill All Required Details </span></center>
                            <div class="form-group">
                                <center>
                                    <input style="background-color: #10528F;width: 80%" ng-click="sendOTP();" type="button" id="sign-up" value="Submit">
                                </center>
                            </div>
                        </form>
                    </div>
                </div>


        </div>
    </div>
</div>

<style>
/* style for moz   */
	#liner {
		width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100;margin:30px auto;
	}

.loginInput{
    color: #101010 !important;

}
    .loginInput::-webkit-input-placeholder {
    color: #101010;
}
.loginInput:-moz-placeholder {
    /* FF 4-18 */
    color: #101010;
}
.loginInput::-moz-placeholder {
    /* FF 19+ */
    color: #101010;
}
.loginInput:-ms-input-placeholder {
    /* IE 10+ */
    color: #101010;
}
</style>