<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 10%">
            <div class="modal-body">
                <button type="button" class="close" style="margin-top: -5%" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>
                    <button type="button" class="close" style="margin-top: -5%;margin-right:5%;float: left"
                            ng-click="close(false)" data-dismiss="modal" aria-hidden="true">
                        <i class="glyphicon glyphicon-arrow-left"/>
                    </button>
                    Hi, {{user.name}}
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <form name="addressForm">
                            <center>
                                <h2 style="color: red;">
                                    Add Address
                                </h2>
                                <div class="form-group" style="overflow-y: scroll;height: 250px">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <center>
                                                <div class="row" style="padding: 10px">
                                                    <label for="name">House / Building No.</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.houseno" class="form-control" id="name" placeholder="House / Building No." required/>
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="soceity">Society / Locality</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.society" class="form-control" id="soceity" placeholder="Society / Locality" required />
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="city">City</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.city" class="form-control" id="city" placeholder="City" required/>
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="landmark">Landmark</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.landmark" class="form-control" id="landmark" placeholder="Landmark" required />
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="state">State</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.state" class="form-control" id="state" placeholder="State" required />
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="contactp">Contact Person</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.contactp" class="form-control" id="contactp" placeholder="Contact Person" required />
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3>
                                                <i class="fa fa-clock-o" style="font-size: 25px"/> Schedule Services
                                            </h3>
                                            <br>
                                            <input type="datetime-local" ng-model="mCalc.datetime" style="width: 100%;font-size:10px;color:black;margin-right: 20px" required/> <i class="glyphicon glyphicon-calendar"/>
                                        </div>
                                    </div>
                                </div>
                            </center>
                            <ul class="pager wizard">
                                <li class="next"><input type="submit" ng-click="addAddress();" data-dismiss="modal" id="confirmOrder" style="border:1px solid palevioletred;cursor: pointer" data-toggle="tab" value="Confirm Order"></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>