<app-header></app-header>
<div class="row">
    <img src="../images/intro.jpg" style="width: 100%;height:273px;z-index: -999;background-color: gainsboro">
</div>
<div class="row">
    <div class="col-lg-8" style="border: 2px solid black;height: auto">
        <h1>Maintenance Packagaes</h1>
        <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100">
        <br>
        <p style="z-index:100;">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
        <br>
        <div style="display: inline-block;padding: 10px;padding-left: 50px">
            <img src="../images/img_chania2.jpg" style="display:inline;background-color: #1b6d85;width: 70px;height: 70px">
            <p style="display: inline"> Fast Communication </p>
        </div>
        <div style="display: inline-block;padding: 10px">
            <img src="../images/img_chania2.jpg" style="display:inline;background-color: #1b6d85;width: 70px;height: 70px">
            <p style="display: inline"> 24x7 Available </p>
        </div>
        <div style="display: inline-block;padding: 10px">
            <img src="../images/img_chania2.jpg" style="display:inline;background-color: #1b6d85;width: 70px;height: 70px">
            <p style="display: inline"> Feasible in your location </p>
        </div>
        <br><br><br>
    </div>
    <div class="col-lg-4">
       <maintenance-calculator></maintenance-calculator>
    </div>
</div>