<div class="row" style="border: 2px solid black;height: 538px;margin-top: -50%;z-index: 0;background-color: #a8cea4;color: white;font-size: 20px;padding: 20px">
    <center>
        <h3> Handy Calculator </h3>
        <hr width="100%" color="red">
        <h5>Get instant price of your Maintenance packages</h5>
    </center>
    <div id="rootwizard">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul>
                        <li style="margin-left: -28px;margin-right: 3px;" class="active">
                            <a style="cursor: pointer;padding: 5px;font-size: 10px">
                                <i class="glyphicon glyphicon-home"></i> Type of Property!
                            </a>
                        </li>
                        <li style="margin-left: 3px;margin-right: 3px;">
                            <a style="cursor: pointer;padding: 5px;font-size: 10px">
                                <i class="glyphicon glyphicon-wrench"></i> Select Services
                            </a>
                        </li>
                        <li style="margin-left: 3px;margin-right: 3px;">
                            <a style="cursor: pointer;padding: 5px;font-size: 10px">
                                <i class="fa fa-calendar"/> Package Duration
                            </a>
                        </li>
                        <li style="margin-left: 3px;">
                            <a style="cursor: pointer;padding: 5px;font-size: 10px">
                                <i class="fa fa-book"></i> Required Services
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="form-group" ng-repeat="prop in properties">
                    <div class="checkbox" style="margin: 10px">
                        <label><input type="checkbox" ng-model="propertyChoosing[prop]" value="">  {{prop}}</label>
                    </div>
                </div>
                <ul class="pager wizard">
                    <li class="next"><a id="property" ng-click="selectTypeofProperty();" style="cursor: pointer" data-toggle="tab"> Select Services -> </a></li>
                </ul>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="form-group" ng-repeat="service in services">
                    <div class="checkbox" style="margin: 10px">
                        <label><input type="checkbox" ng-model="servicesChoosing[service]" value=""> {{service}}</label>
                    </div>
                </div>
                <ul class="pager wizard">
                    <li class="next"><a id="services" ng-click="selectServices();" style="cursor: pointer" data-toggle="tab"> Select Duration -> </a></li>
                </ul>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="form-group" ng-repeat="req in requirements">
                    <div class="checkbox" style="margin: 10px">
                        <label><input type="checkbox" ng-model="requirementsChoosing[req]" value=""> {{req}}</label>
                    </div>
                </div>
                <ul class="pager wizard">
                    <li class="next"><a id="requirements" ng-click="selectRequirements();" style="cursor: pointer" data-toggle="tab"> No. of Requirement -> </a></li>
                </ul>
            </div>
            <div class="tab-pane" id="tab4">
                <div class="form-group" ng-repeat="serv in requiredServices">
                    <div class="checkbox" style="margin: 10px">
                        <label><input type="checkbox" ng-model="requiredServicesChoosing[serv]" value="">  {{serv}}</label>
                    </div>
                </div>
                <ul class="pager wizard">
                    <li class="next"><a style="cursor: pointer" id="quote" ng-click="getQuote();" data-toggle="tab"> Get Quote -> </a></li>
                </ul>
            </div>
            <div class="tab-pane" id="resultTab">
                <div style="display: flex;flex: 1">
                    <i class="fa fa-inr"/> Quotation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div style="background-color: #007bb6;color: white;width: auto;border-radius: 10px;padding: 2px 2px 2px 10px;"><i class='fa fa-inr'/> 3,999</div>
                </div>
                <table>
                    <tr>
                        <td> Request Id</td>
                        <td> #HC1234 </td>
                    </tr>
                    <tr>
                        <td>Property Type</td>
                        <td> Home </td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td> 3 Month </td>
                    </tr>
                    <tr>
                        <td>Required Services</td>
                        <td>Electrical, Carpentry</td>
                    </tr>
                </table>
                <ul class="pager wizard">
                    Save upto 25%. <li class="next"><a style="cursor: pointer"> Add Package -> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>