<app-header></app-header>
<div class="row" style="margin-bottom:20px;">
    <img src="../images/intro.jpg" style="width: 100%;height:100px;z-index: -999;background-color: gainsboro">
	
    <div class="col-md-8 col-md-offset-2" >
        <h1>Maintenance Packages</h1>
        <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100">
        <br>
        <p class="slideanim">Maintenance Packages helps to achieve considerable monetary & time savings, while ensuring quality. We avail subscriptions for everything else because of better cost savings. So why not for something as important as your home? </p><br>
     <div class="row slideanim" style="text-align:center; margin-top: 10px">
    <div class="col-sm-4">
      <span class="fa fa-balance-scale logo-large" style="font-size: 50px; color:#cd2525"></span>
      <h4>Calculate Your Package Price</h4>
      <p>Get best price quotes by selecting your service requirements, duration and number of services required.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-check logo-large" style="font-size:50px; color:#cd2525"></span>
      <h4>Book Package</h4>
        <p>If you are happy with the price book now and get your service in next 3 hours by our Professionals.</p>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-forward logo-large" style="font-size: 50px; color:#cd2525"></span>
      <h4>Request HBN</h4>
        <p>Now request your handy maintenance package in one click. <a href="">LOGIN NOW!</a> to request hassle-free services at your doorstep.
</p>
      
    </div>
  </div>
 
    </div>
    <div class="col-md-6 col-md-offset-3">
       <maintenance-calculator></maintenance-calculator>
    </div>
    
 </div>
 <div class="space"></div>
    

<app-footer></app-footer>
<style>
	.calci {
		padding:10px;
		border:none;
		border-radius:4px;
		background:#1e1e1e;
		
	}

</style>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>