<div class="modal fade" id="mcadd" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:rgba(1,1,1,0.6);color:whitesmoke;margin-top: 10%">
            <div class="modal-body">
                <button type="button" class="close" style="margin-top: -5%" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>
                    <button type="button" class="close" style="margin-top: -5%;margin-right:5%;float: left"
                            ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">
                        <i class="glyphicon glyphicon-arrow-left"/>
                    </button>
                    Hi, {{user.name}}
                </h3>
                <div class="row">
                    <div class="col-lg-12">
                        <form name="addressForm">
                            <center>
                                <h2 style="color: whitesmoke;">
                                    Add Address
                                </h2>
                                <div class="form-group" style="overflow-y: scroll;overflow-x:hidden;height: 250px">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <center>
                                                <div class="row" style="padding: 10px">
                                                    <label for="name"><span style="color: red;">*</span>&nbsp; House / Building No.</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.houseno" class="form-control" id="name" placeholder="House / Building No." required/>
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="soceity"><span style="color: red;">*</span>&nbsp;Society / Locality</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.society" class="form-control" id="soceity" placeholder="Society / Locality" required />
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="city"><span style="color: red;">*</span>&nbsp;City</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.city" class="form-control" id="city" placeholder="City" required/>
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="landmark"><span style="color: red;">*</span>&nbsp;Landmark</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.landmark" class="form-control" id="landmark" placeholder="Landmark" required />
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="state"><span style="color: red;">*</span>&nbsp;State</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.state" class="form-control" id="state" placeholder="State" required />
                                                </div>
                                                <div class="row" style="padding: 10px">
                                                    <label for="contactp"><span style="color: red;">*</span>&nbsp;Contact Person</label>
                                                    <input type="text" style="width: 60%;margin-left:20px" ng-model="mCalc.contactp" class="form-control" id="contactp" placeholder="Contact Person" required />
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3>
                                                <i class="fa fa-clock-o" style="font-size: 25px"/> <span style="color: red;">*</span>&nbsp;Schedule Services
                                            </h3>
                                            <br>
                                            <input type="datetime-local" ng-model="mCalc.datetime" style="width: 100%;font-size:10px;color:black;margin-right: 20px" required/> <i class="glyphicon glyphicon-calendar"/>
                                        </div>
                                    </div>
                                </div>
                                <center><span id="mcadd-error" style="display:none;color: red;font-size: 10px"> Please Fill All Required Details </span></center>
                            </center>
                            <ul class="pager wizard">
                                <li class="next"><input type="submit" ng-click="addAddress();" id="confirmOrder" style="background-color: #1b6d85;cursor: pointer" data-toggle="tab" value="Confirm Order"></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>