<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="margin-top: 10%">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" style="margin-top: -5%" class="close" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title tab">
                    <a class="tablinks" ng-click="openBlock(event, 'Login')" style="cursor: pointer">
                        <h3 style="float: left;margin-left: 20px">
                            <i class="fa fa-email"></i> Check Your Inbox
                        </h3>
                    </a>
                    <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100">
                </div>
                <center>
                    <a>
                        <h3>
                            <i class="fa fa-check"></i> Otp Sent Successfully!
                        </h3>
                    </a>
                    <h6> We have sent you 5-digit One Time Password</h6>
                    <div class="row">
                        <div class="col-lg-7">
                            <center>
                            <div class="form-group" style="margin-top: 2%;margin-left: 10%">
                                <label class="sr-only" for="otp">First Name</label>
                                <input type="number" class="form-control" ng-model="otpEntered" id="otp" placeholder="Enter your OTP here" required>
                            </div>
                            </center>
                        </div>
                        <div class="col-lg-5">
                            <input type="button" data-dismiss="modal" ng-click="verifyOTP();" value="Submit" style="background-color: #1b6d85"/>
                        </div>
                    </div>
                    <h6> Didn't recieved OTP yet? <a style="cursor: pointer" ng-click="sendOTP();">Click here</a> to resend OTP.</h6>
                </center>
            </div>
        </div>
    </div>
</div>