<app-header></app-header>
<div class="row" style="background-color: rgba(1,1,1,0.9);color: white">
    <center>
    <div class="container">
        <div class="row">
            <h2> Profile Information </h2>
            <hr style="width: 80%;color: white;height: 2px;background-color: white;border-color: white;z-index: 100">
        </div>
        <div class="row">
            <br><br>
            <div class="col-lg-2">
                <img ng-src="{{user.image}}" style="width:200px;height: 200px;background-color: palevioletred"/>
                <h4> Profile Image </h4>
                <br><br>
                <input id="imageUpload" type="file" ng-change="uploadImage();" ng-model="profilePic" name="profilePic" id="profilePic"/>
                <br>
                <button style="background-color: #1e347b" ng-click="showUploadImage();">
                    Change / Upload Image
                </button>
                <br><br>
                <div id="profileView">
                <div class="row">
                    <div class="col-lg-6">
                        <h4> Name - </h4>
                    </div>
                    <div class="col-lg-6">
                        <h4 ng-bind="user.name"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4> Email - </h4>
                    </div>
                    <div class="col-lg-6">
                        <h4 ng-bind="user.email"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4> Number - </h4>
                    </div>
                    <div class="col-lg-6">
                        <h4 ng-bind="user.number"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4> Location - </h4>
                    </div>
                    <div class="col-lg-6">
                        <h4 ng-bind="selectedCity.city_name"></h4>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-5">
                <br><br><br>
                

                <div id="profileEdit">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4> Name - </h4>
                        </div>
                        <div class="col-lg-6">
                            <span style="color: red;float: left">*</span>
                            <input type="text" ng-model="user.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4> Email - </h4>
                        </div>
                        <div class="col-lg-6">
                            <span style="color: red;float: left">*</span>
                            <input type="text" ng-model="user.email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4> Number - </h4>
                        </div>
                        <div class="col-lg-6">
                            <span style="color: red;float:left;">*</span>
                            <input type="text" ng-model="user.number">
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <span id="error" style="color: red;display: none">Please fill all required Info</span>
                        <br>
                        <button style="background-color: #1e347b" class="btn" ng-click="submitInfo();">
                            Submit
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-lg-5">
                <br><br>
                <button style="background-color: #1e347b" ng-click="editProfileInfo();">
                    Edit Info
                </button>
                <br><br>
                <button style="background-color: #1e347b" ng-click="LogoutUser();">
                    Logout
                </button>
                <br><br>
                <button style="background-color: #1e347b" ng-click="ChangeLocation();">
                    Change Location
                </button>
                <br><br>
            </div>
        </div>
    </div>
    </center>
</div>
<app-footer></app-footer>