<app-header></app-header>
<div class="row">
    <div class="col-md-3">
        <div class="row" style="color:black;padding:20px;margin-bottom: 5px">
           <div class="space"></div>
           <div class="form-group" style="float:left;">
                <label class="pull-left" style="width:10%;color:#666; visibility:visible !important;height:14px;line-height:14px;margin-top:10px;" for="search"><i class="fa fa-search"></i></label>
                <input type="text" ng-model="searchText" class="form-control" style="width:90%;border-top:none !important; box-shadow:none;" id="search" placeholder="e.g. electrician etc." required>
            </div>
        </div>
        
        <div style="height:auto">
            <a style="cursor: pointer">
                <div ng-repeat="service in services" ng-click="selectService(service);" style="border-bottom: 1px solid gray;background-color: lightgrey;">
                    <div style="width: 100%;padding: 10px;background-color:#fff " ng-if="selectedService._id == service._id">
                        <div class="row">
                            <div class="col-md-4" style="padding:14px; border:4px solid #cd2525; background-color:#fff; border-radius:84.85px; width:auto; height:auto; margin-left:10px;">
                                <img ng-src="{{service.icon}}" style="width:40px;height:40px;"/>
                            </div>
                            <div class="col-md-8">
                                <h4 style="color:#1e1e1e;">{{service.name}}</h4>
                                <input type="button" ng-click="goToRequestCallback();" value="Request Callback" style="color: white;float: right; maargin-top:20px;"/>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%;padding: 14px;" ng-if="selectedService._id != service._id">
                        <div class="row">
                            <div class="col-md-4" style="padding:14px; border:4px solid #cd2525; background-color:#fff; border-radius:84.85px; width:auto; height:auto; margin-left:10px;">
                                <img ng-src="{{service.icon}}" style="width: 40px;height:40px;"/>
                            </div>
                            <div class="col-md-8">
                                <h4 style="color:#1e1e1e;">{{service.name}}</h4>
                                <!--<h5 style="word-wrap: break-word;word-break: break-all"># {{service.description | cut:true:100:' ...'}}</h5>-->
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="row">
            <img src="../images/img_chania2.jpg" style="margin-left:-17px;width: 101.7%;height: 100px; border:none !important; background:#CD2525;" alt="image not available">
        </div>
        <hr  />
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="width: 100%;height: 470px;margin-left: -30px;padding: 20px 10px 10px;">
                    <h3 style="display: inline;">
                        {{selectedService.name || 'Handy Services'}}
                    </h3>
                    <input type="button" value="Book Now" ng-if="selectedService" ng-click="bookNow(selectedService._id)" style="background-color: #1b6d85;float: right;display: inline;margin-bottom: 20px"/>
                    <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100;display: block">
                    <p style="padding-left: 10px;padding-right: 10px">
                        <!--Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.-->
                        <!--venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.-->
                        {{selectedService.description}}
                    </p>
                    <div class="row" style="margin:0 20px 20px auto;padding: 0px 20px;">
                        <div class="col-sm-4" style="display: inline-flex;flex: 1;">
                            <i class="fa fa-usd" style="font-size: 20px;margin-top: 20px"></i>
                            <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 10px">
                                <h5><strong>Cost Effective</strong></h5>
                            </div>
                        </div>
                        <div class="col-sm-4" style="display: inline-flex;flex: 1;">
                            <i class="fa fa-thumbs-up" style="font-size: 20px;margin-top: 20px"></i>
                            <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 10px">
                                <h5><strong>100% Geniune & Safe</strong></h5>
                            </div>
                        </div>
                        <div class="col-sm-4" style="display: inline-flex;flex: 1;">
                            <i class="fa fa-ambulance" style="font-size: 20px;margin-top: 20px"></i>
                            <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 10px">
                                <h5><strong>Free Pick Up & Delivery</strong></h5>
                            </div>
                        </div>
                        
                    </div>
                    <iframe width="70%" style="border: 0px solid white;margin-left: 15%; margin-bottom:10px;" height="200" src="https://www.youtube.com/embed/r1NkEGNYx_o" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row" style="width: 107.5%;background-color:rgba(1,1,1, .3);margin-top: 0%;padding: 5px">
                    <center>
                        <h3>
                            Pricing
                        </h3>
                        <hr style="width: 80%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100;display: block">
                        <table style="border:none">
                            <center>
                                <tr>
                                    <th style="padding: 10px;border-bottom: 2px solid #CCC;"><strong>Category</strong></th>
                                    <th style="padding: 10px;border-bottom: 2px solid #ccc;"><strong>Price / Unit (Rs)</strong></th>
                                </tr>
                                <tr ng-repeat="price in selectedService.price">
                                    <td style="padding: 10px;border-bottom: 2px solid #ccc;">{{price.option}}</td>
                                    <td style="padding: 10px;border-bottom: 2px solid #ccc;">{{price.amount}}</td>
                                </tr>
                            </center>
                        </table>
                        <h5> <strong>Save upto 25%. Check Maintenance Packages</strong> </h5>
                    </center>
                </div>
                <div class="row" style="width: 107.5%;background-color:#f1f1f1;height: auto;padding: 20px;padding-top:5px;margin-top: -5%">
                    <h3>
                        Happy Customers
                    </h3>
                    <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100;display: block">
                    <div style="display: flex;flex: 1">
                    <img src="../images/img_chania2.jpg" style="background-color: #1c2d3f;width: 50px;height: 50px">
                    <p style="padding: 10px">
                    Service provided by the <strong>Handyservices</strong> was awesome.
                    </p>
                    </div>

                    <div class="row content" ng-if="reviewsList && selectedCity">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators 
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>-->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div ng-repeat="review in reviewList">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="thumbnail adjust1">
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                        <img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        <div class="caption">
                                                            <blockquote class="adjust2">
                                                                <h4>{{review.cus.name}}</h4>
                                                                <p class="text-info lead adjust2">{{review.message}}</p>
                                                                <p class="text-info">{{review.rating}}</p>
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<style>
    .carousel-indicators .active{
        background: #31708f;
    }
    .content{
        margin-top:0px;
    }
    .adjust1{
        float:left;
        width:100%;
        margin-bottom:0;
    }
    .adjust2{
        margin:0;
    }

    .carousel-indicators li{
        border :1px solid #ccc;
    }

    .carousel-control{
        color:#31708f;
        width:5%;
    }

    .carousel-control:hover, .carousel-control:focus{
        color:#31708f;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }

    .media-object{
        margin:auto;
        margin-top:50%;
        margin-left: 40%;
    }

    @media screen and (max-width: 768px) {
        .media-object{ margin-top:0; }
    }

    .caption{
        margin-bottom: 10%;
    }
</style>