<app-header></app-header>
<div class="row">
    <div class="col-lg-3">
        <div class="row" style="background-color: lavenderblush;color:black;padding: 20px;margin: 0px">
            <div class="form-group">
                <label class="sr-only" for="search">Search here</label>
                <input type="text" ng-model="searchText" class="form-control" id="search"
                       placeholder="e.g. electrician, plumber, cooking etc." required>
            </div>
        </div>
        <div style="overflow-y: scroll;overflow-x:hidden;height: 530px">
            <a style="cursor: pointer">
                <div ng-repeat="service in services" ng-click="selectService(service);" style="border: 2px solid gray;background-color: lightgrey;">
                    <div style="width: 100%;padding: 10px;">
                        <div class="row">
                            <div class="col-lg-5">
                                <img ng-src="{{service.image}}" style="width: 90px;height:120px;background-color: #1c2d3f;margin-top: 20px;margin-left: 10px"/>
                            </div>
                            <div class="col-lg-7">
                                <h2>{{service.name}}</h2>
                                <h5># {{service.sublist}}</h5>
                                <input type="button" value="Request Callback" style="padding:10px;padding-top:0;background-color: #1b6d85;color: white;float: right;margin-top: 10%"/>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <img src="../images/img_chania2.jpg" style="margin-left:-17px;width: 101.7%;height: 150px;background-color: #1c2d3f">
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row" style="width: 108%;background-color: lavender;height: 470px;margin-left: -30px;padding: 20px 10px 10px;">
                    <h3 style="display: inline;">
                        {{selectedService.name || 'Handy Services'}}
                    </h3>
                    <input type="button" value="Book Now" ng-if="selectedService" ng-click="bookNow(selectedService._id)" style="background-color: #1b6d85;float: right;display: inline;margin-bottom: 20px"/>
                    <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100;display: block">
                    <p style="padding-left: 10px;padding-right: 10px">
                        <!--Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.-->
                        <!--venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.-->
                        {{selectedService.sublist}}
                    </p>
                    <div style="margin-left: 20px;padding: 0px 20px;">
                        <div style="display: inline-flex;flex: 1;margin: 10px">
                            <i class="fa fa-usd" style="font-size: 20px;margin-top: 20px"></i>
                            <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 10px">
                                <h4>Cost Effective</h4>
                            </div>
                        </div>
                        <div style="display: inline-flex;flex: 1;margin: 10px">
                            <i class="fa fa-thumbs-up" style="font-size: 20px;margin-top: 20px;margin-left: 30px"></i>
                            <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 10px">
                                <h4>100% Geniune & Safe</h4>
                            </div>
                        </div>
                        <div style="display: flex;flex: 1;margin: 10px">
                            <i class="fa fa-ambulance" style="font-size: 20px;margin-top: 10px"></i>
                            <div style="line-height: 2px;font-size: 10px;margin-left: 10px;margin-top: 0px">
                                <h4>Free Pick Up & Delivery</h4>
                            </div>
                        </div>
                    </div>
                    <iframe width="80%" style="border: 2px solid white;margin-left: 40px" height="150" src="https://www.youtube.com/embed/r1NkEGNYx_o" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row" style="width: 107.5%;background-color: lavenderblush;margin-top: -42%;padding: 20px">
                    <center>
                        <h3>
                            Pricing
                        </h3>
                        <hr style="width: 80%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100;display: block">
                        <table style="border: 2px solid crimson;">
                            <center>
                                <tr>
                                    <th style="padding: 10px;border: 2px solid crimson;">Category</th>
                                    <th style="padding: 10px;border: 2px solid crimson;">Price / Unit</th>
                                </tr>
                                <tr ng-if="!selectedService">
                                    <td>&nbsp;&nbsp;
                                    </td>
                                    <td>&nbsp;&nbsp
                                    </td>
                                </tr>
                                <tr ng-if="selectedService">
                                    <td style="padding: 10px;border: 2px solid crimson;">General Service</td>
                                    <td style="padding: 10px;border: 2px solid crimson;">100</td>
                                </tr>
                                <tr ng-if="selectedService">
                                    <td style="padding: 10px;border: 2px solid crimson;">Fitting Cost</td>
                                    <td style="padding: 10px;border: 2px solid crimson;">100-150</td>
                                </tr>
                                <tr ng-if="selectedService">
                                    <td style="padding: 10px;border: 2px solid crimson;">Service Charge</td>
                                    <td style="padding: 10px;border: 2px solid crimson;">100-150</td>
                                </tr>
                                <tr ng-if="selectedService">
                                    <td style="padding: 10px;border: 2px solid crimson;">Spare Parts</td>
                                    <td style="padding: 10px;border: 2px solid crimson;">As per MRP</td>
                                </tr>
                            </center>
                        </table>
                        <h5> Save upto 25%. Check Maintenance Packages </h5>
                    </center>
                </div>
                <div class="row" style="width: 107.5%;background-color: lightgreen;height: 227px;padding: 20px;padding-top:5px;margin-top: -5%">
                    <h3>
                        Happy Customers
                    </h3>
                    <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100;display: block">
                    <!--<div style="display: flex;flex: 1">-->
                    <!--<img src="../images/img_chania2.jpg" style="background-color: #1c2d3f;width: 50px;height: 50px">-->
                    <!--<p style="padding: 10px">-->
                    <!--venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.-->
                    <!--</p>-->
                    <!--</div>-->

                    <div class="row content" ng-if="reviewsList && selectedCity">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div ng-repeat="review in reviewList">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="thumbnail adjust1">
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                        <img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        <div class="caption">
                                                            <blockquote class="adjust2">
                                                                <h4>{{review.cus.name}}</h4>
                                                                <p class="text-info lead adjust2">{{review.message}}</p>
                                                                <p class="text-info">{{review.rating}}</p>
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .carousel-indicators .active{
        background: #31708f;
    }
    .content{
        margin-top:0px;
    }
    .adjust1{
        float:left;
        width:100%;
        margin-bottom:0;
    }
    .adjust2{
        margin:0;
    }

    .carousel-indicators li{
        border :1px solid #ccc;
    }

    .carousel-control{
        color:#31708f;
        width:5%;
    }

    .carousel-control:hover, .carousel-control:focus{
        color:#31708f;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }

    .media-object{
        margin:auto;
        margin-top:50%;
        margin-left: 40%;
    }

    @media screen and (max-width: 768px) {
        .media-object{ margin-top:0; }
    }

    .caption{
        margin-bottom: 10%;
    }
</style>