<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 20%;padding: 0 10px 10px;">
            <div class="modal-body">
                <center>
                <button type="button" class="close" style="margin-top: -5%" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" style="display: inline-flex">
                    <i class="fa fa-check-circle-o" style="font-size: 60px;color: blue"></i>
                    <span style="margin-top: 10px;margin-left: 10px">Thank you! We are reaching you shortly!</span>
                </h2>
                </center>
                <thank-you></thank-you>
                <h5> Save upto 25%. Add Maintenance Packages. </h5>
                <input data-dismiss="modal" ng-click="gotoMaintenance();" type="button" value="Explore ->" style="background-color: #1b6d85"/>
                <br>
                <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100">
                <br>
            </div>
        </div>
    </div>
</div>