<center>
    <h2 style="display: inline-flex">
        <i class="fa fa-check-circle-o" style="font-size: 60px;color: blue"></i>
        <span style="margin-top: 10px;margin-left: 10px">Thank you! We are reaching you shortly!</span>
    </h2>
    <h5>
        Please save your reference ID on your mobile/
    </h5>
    <h5>
        email. Our expert will contact you soon.
    </h5>
    <br>
    <h6>
        Copy your reference ID from here.
    </h6>
    <br>
    <a style="text-decoration: none;cursor: pointer" ng-click="setCopied();">
        <p id="copyText" style="padding: 10px;border: 2px solid gainsboro;margin-left: 140px;margin-right: 140px;font-size: 20px;color: red">
        HS2867tig <i class="fa fa-files-o" style="margin-left: 30px;color: black"></i>
    </p></a>
    <span ng-show="copied">copied</span>
    <br>
</center>