<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 20%;padding: 0 10px 10px;">
            <div class="modal-body">
                <center>
                <button type="button" class="close" style="margin-top: -5%" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <thank-you></thank-you>
                <h5> Save upto 25%. Add Maintenance Packages. </h5>
                <input data-dismiss="modal" ng-click="gotoMaintenance();" type="button" value="Explore ->" style="background-color: #1b6d85"/>
                <br>
                <hr style="width: 100%;color: red;height: 3px;background-color: red;border-color: red;z-index: 100">
                <br>
                </center>
            </div>
        </div>
    </div>
</div>