<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
      <a class="navbar-brand" routerLink="/"><img src="assets/images/handy1.png" class="logo img-responsive"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="tel:+917878000666">
            <i class="fa fa-phone" aria-hidden="true" style="color:#37D5AC; font-size:25px;margin-top:-3px;vertical-align:middle;"></i>
            7878000666
          </a>
        </li>
        <li routerLinkActive=""><a routerLink="/service-search"><i class="fa fa-wrench" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;"></i>Services</a></li>
        <li routerLinkActive="active"><a routerLink="/feedback"><i class="fa fa-star" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;"></i>Feedback</a></li>
        <li>
          <a (click)="showCityModal()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-map-marker" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;">
                        <span>{{city}}</span>
                        <span class="caret"></span></a>
        </li>
        <li routerLinkActive="active" *ngIf="!isLoggedIn"><a routerLink="/signin"><i class="fa fa-user" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;"></i>SignIn</a></li>
        <li routerLinkActive="active" *ngIf="!isLoggedIn"><a routerLink="/signup"><i class="fa fa-user-plus" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;"></i>SignUp</a></li>
        <li class="dropdown" *ngIf="isLoggedIn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;">Hi {{loginUser}},<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="account/profile"><i class="fa fa-user-plus" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;">Profile</a></li>
            <li><a routerLink="refer"><i class="fa fa-share-alt" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;">Refer & Earn</a></li>
            <li><a routerLink="book-order-list"><i class="fa fa-calender-check-o" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;">My Bookings</a></li>
            <li><a (click)="logoutUser()"><i class="fa fa-power-off" aria-hidden="true" style="color:#37D5AC; font-size:16px;margin-top:-2px;vertical-align:middle;">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <!--/.nav-collapse -->
  </div>
</nav>


<!-- City modal -->

<div *ngIf="isCityModalShown && locationData" [config]="{ show: true }" (onHidden)="onHidden()" class="modal fade" bsModal
  #cityModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#37d5ac">
        <h4 class="modal-title">Select City</h4>
      </div>
      <div class="modal-body" *ngIf="locationData">
        <form #cityForm="ngForm" (ngSubmit)="submitCity(cityForm.value);">
          <div class="form-group">
            <select class="form-control" #_city="ngModel" name="city" [(ngModel)]="citySelected">
                  <option *ngFor="let location of locationData"
                          [value]="location.city_name">
                    {{location.city_name | titlecase}}
                  </option>
                </select>
            <span class="error-text" [hidden]="(_city.untouched && !cityForm.submitted) || (_city.value!='select city')">Please select valid city</span>
          </div>
          <div class="form-group" style="text-align:center">
            <input type="submit" value="Ok   " class="btn bttn2">
            <input type="button" value="Cancel" class="btn bttn2" (click)="hideCityModal()">
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
