<section id="media-coverage">
    <div class="container">
        <div class="row">
            <div class="row row-centered">
                <div class="col-md-3 col-sm-4 col-centered">
                    <div>
                        <h3>Media Coverage</h3>
                    </div>
                    <hr class="u-hr">
                </div>
            </div>
        </div>

        <div class="row row-centered">
            <div>
                <app-carousel [interval]="3000" [noWrap]="false" [showControl]="false">
                    <app-slide *ngFor="let slidez of testimonials; let index=index">
                        <div class="col-md-3 col-sm-4 col-centered" *ngIf="slidez[0]">
                            <div class="card">
                                <div class="media">
                                    <a [href]="slidez[0].news_link" target="_blank">
                    <img [src]="slidez[0].news_photo">
                    <div class="desc">
                    <p>{{slidez[0].news_desc}}</p>
                    </div>
                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-centered" *ngIf="slidez[1]">
                            <div class="card">
                                <div class="media">
                                    <a [href]="slidez[1].news_link" target="_blank">
                                        <img [src]="slidez[1].news_photo">
                                        <div class="desc">
                                            <p>{{slidez[1].news_desc}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-centered" *ngIf="slidez[2]">
                            <div class="card">
                                <div class="media">
                                    <a [href]="slidez[2].news_link" target="_blank">
                                        <img [src]="slidez[2].news_photo">
                                        <div class="desc">
                                            <p>{{slidez[2].news_desc}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </app-slide>
                </app-carousel>
            </div>
        </div>

    </div>
</section>