<app-carousel id="service-banner" [interval]="4000" [noWrap]="false" [showControl]="false">
  <app-slide *ngFor="let img of banner; let index=index" [active]="banner.active" class="noCarousol">
    <div class="">
      <img [src]="img.photo">
    </div>
  </app-slide>
</app-carousel>
<section id="s-detail" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row col-md-12" style="padding-bottom:5px">
        <a routerLink="/">Home</a>&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;<a routerLink="/service-search">Services</a>&nbsp;
        <i class="fa fa-arrow-right"></i>&nbsp;{{_service.name}}
      </div>
      <div class="row col-md-12">
        <h3 class="pull-left" style="letter-spacing: 4px;">{{_service.name}}</h3>
      </div>
      <div class="row col-md-12" style="padding:10px; text-align: justify;">
        {{_service.description}}
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <table class="table table-responsive" *ngIf="_service.price">
        <tr>
          <td colspan="2" class="price-title price-item">Price Description</td>
        </tr>
        <tr style="background:white;">
          <td class="price-item">
            <b>Category</b>
          </td>
          <td class="price-item">
            <b>Price/Unit</b>
          </td>
        </tr>
        <tr *ngFor="let pr of _service.price" style="background:white;">
          <td class="price-item">{{pr.option}}</td>
          <td class="price-item">{{pr.amount}}</td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-12" style="padding-bottom:15px;text-align:center">
          <h4>You can Call us at 7878000666 or Click here to</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <a type="button" class="btn-book" type="button" (click)="bookService()">Book Now</a>
        </div>
      </div>
    </div>
  </div>

</section>

<div *ngIf="_service_reviews">
  <app-comp-customer-review [data]="_service_reviews"></app-comp-customer-review>
</div>

<app-comp-mobile-app></app-comp-mobile-app>
<br>
<app-media-coverage></app-media-coverage>
<app-comp-client></app-comp-client>
<br>
