<app-navbar-comp [step]="4"></app-navbar-comp><br>
<div *ngIf="!bookingDone; else result" class="tab-pane fade in active bs-outer">
  <h4 *ngIf="!successMessage" class="head text-center">{{title}}</h4>
  <div class='row'>
    <div class='col-sm-offset-2 col-sm-8'>
      <p *ngIf="successMessage" class="head success-textbox">{{successMessage}}</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-offset-2 col-sm-8 bs-inner'>
      <div class="row">
        <div class='col-xs-3'>
          <div class="form-group">
            <label class="control-label" for="name">Name: </label>
          </div>
        </div>
        <div class='col-xs-8'>
          {{userName}}
        </div>
      </div>
      <div class="row">
        <div class='col-xs-3'>
          <div class="form-group">
            <label class="control-label" for="phone">Phone: </label>
          </div>
        </div>
        <div class='col-xs-8'>
          {{formData.number}}
        </div>
      </div>
      <div class="row">
        <div class='col-xs-3'>
          <div class="form-group">
            <label class="control-label" for="location">Location: </label>
          </div>
        </div>
        <div class='col-xs-8'>
          {{formData.location}}
        </div>
      </div>
      <div class="row">
        <div class='col-xs-3'>
          <div class="form-group">
            <label class="control-label" for="address">Address: </label>
          </div>
        </div>
        <div class='col-xs-8'>
          {{formData.address}}
          <address class="">

          </address>
        </div>
      </div>

      <div class="row">
        <div class='col-xs-3'>
          <div class="form-group">
            <label class="control-label" for="Schedule">Schedule Date: </label>
          </div>
        </div>
        <div class='col-xs-8'>
          {{formData.scheduled_date}} &nbsp; {{formData.scheduled_time}}
        </div>
      </div>
      <div class="row">
        <div class='col-xs-3'>
          <div class="form-group">
            <label class="control-label" for="Service">Service Selected: </label>
          </div>
        </div>
        <div class='col-xs-8'>
          {{serviceName}}
        </div>
      </div>

      <div class="row">
        <div class='col-sm-12'>
          <div class="text-center">
            <button class="btn bttn2 btn-outline-rounded" (click)="gotoSchedule()"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
            <button class="btn bttn2 btn-outline-rounded" (click)="submit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<ng-template #result>
  <div class="tab-pane fade in active bs-outer">
    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8 bs-inner'>
        <div class="row" *ngIf="successMessage">
          <div class="head text-center" style="width:auto">
            <h4>{{successMessage}}</h4><br>
            <h5>Our executive will allocate a Technician to your place shortly</h5>
            <h5>*Cost is subject to change after inspection of work.</h5><br>
            <div class="row">
              <div class="col-md-4 col-md-offset-3"  style="background:lightgrey;border:1px solid lightgrey;text-align:left">
                <b>Service Name</b>
              </div>
              <div class="col-md-3" style="background:lightgrey;border:1px solid lightgrey;">
                <b>Order ID</b>
              </div>
            </div>
            <div class="row" *ngFor="let item of bookingOrders">
              <div class="col-md-4 col-md-offset-3" style="border:1px solid lightgrey;text-align:left">
                {{item.service_name}}
              </div>
              <div class="col-md-3" style="border:1px solid lightgrey">
                {{item.order_id}}
              </div>
            </div><br>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>
